[snippet]
html

[expansion]
<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>{% title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {% body %}
  </body>
</html>

[snippet]
table

[expansion]
<table>
  <thead>
    <tr>
      <th>{% table heading %}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{% table body %}</td>
    </tr>
  </tbody>
</table>
