[snippet]
comp

[expansion]
function {= name =} ({= props =}) {
  return (
    <>
      {= jsx =}
    </>
  );
}

[snippet]
acomp

[expansion]
const {= name =} = ({= props =}) => {
  return (
    <>
      {= jsx =}
    </>
  );
}
